:root {
    --color: rgb(255, 255, 255);
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 75%;
    margin: 32px 0;
    border-radius: 16px;
    background: linear-gradient(to right, #000000, var(--color));
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-image: url('../images/brightness.svg');
    background-color: #ffffff;
    border-radius: 50%;
    cursor:pointer;
}