html, body {
    background-color: #000000;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    background-color: #443644;
    display: inline-block;
    border-radius: 16px;
}

.color-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    box-sizing: border-box;
    width: 80%;
    height: 35%;
    background-color: purple;
    display: inline-block;
}

.color-choice {
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    line-height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: blue;
}

.color-choice:hover {
    cursor: pointer;
}

.red {
    background-color: #ff0000;
    border: 2px solid #790101;
}

.green {
    background-color: #00ff00;
    border: 2px solid #007500;  
}

.blue {
    background-color: #0000ff;
    border: 2px solid #0000a3;
}

.active-color {
    border-color: #d1d1d1;
}

.toggle-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 35%;
    background-color: purple;
    margin-top: 10%;
}

.toggle-choice {
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    line-height: 50px;
    display: inline-block;
    border-radius: 10%;
    background-color: #533d53;
    border: 2px solid #462f46;
}

.toggle-choice:hover {
    cursor: pointer;
    border-color: #967a96;
    background-color: #5c4c5c;
}

.toggled-on {
    background-color: #135513;
    border-color: #218d21;
}

.toggled-on:hover {
    background-color: #1bdb1b;
    border-color: #0c7e0c;
}

.toggled-off {
    background-color: #6e1010;
    border-color: #af1c1c;
}

.toggled-off:hover {
    background-color: #e41616;
    border-color: #a51111;
}